# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.env

# Datasets
ai_models/datasets/raw/

# Trained models
ai_models/models/

# Python virtual environment
ai_models/venv/

# Notebook checkpoints
**/.ipynb_checkpoints/