# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Node.js
# =========================
node_modules/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Log Files
# =========================
*.log