# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Node.js
# =========================
node_modules/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Log Files
# =========================
*.log


# ===========================
# Machine Learning Models
# ===========================

# YOLO Models
ml_models/saved_models/*.pt

# TensorFlow / Keras Models
ml_models/saved_models/*.keras
ml_models/saved_models/*.h5

# Other model formats
ml_models/saved_models/*.onnx
ml_models/saved_models/*.tflite
ml_models/saved_models/*.pth